.content {
  background-image: url('https://wowsp-wows-ru.wgcdn.co/dcont/fb/image/bdcfc100-e172-11e7-a044-8cdcd4b149ac.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
