.content {
  background-image: url('https://wowsp-wows-ru.wgcdn.co/dcont/fb/image/bdcfc100-e172-11e7-a044-8cdcd4b149ac.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.content::after {
  content: "";
  display: block;
  position: absolute;
  background: #2A2C2F;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
